<div class="mb-3">
  <label for="input-username" class="form-label">User Name</label>
  <input type="text" class="form-control" id="input-username" name="username" />
</div>

<div class="mb-3">
  <label for="usertype" class="form-label">User type</label>
  <select
    id="usertype"
    class="form-select"
    name="usertype"
    required
  >
    <option selected>student</option>
    <option>college</option>
    <option>company</option>
  </select>
</div>

<div class="mb-3">
  <label for="input-mob" class="form-label" pattern="[1-9]{1}[0-9]{9} ">Contact No.</label>
  <input type="number" class="form-control" id="input-mob" name="mob" />
</div>


<div class="mb-3">
  <label for="input-email" class="form-label">Email address</label>
  <input
    type="email"
    class="form-control"
    id="input-email"
    placeholder="name@example.com"
    name="email"
  />
</div>

<div class="mb-3">
  <label for="input-password" class="form-label" >Password</label>
  <input
    type="password"
    class="form-control"
    id="input-password"
    name="password"
  />
</div>

<div class="mb-3">
  <label for="input-confirm-password" class="form-label"
    >Confirm Password</label
  >
  <input
    type="password"
    class="form-control"
    id="input-confirm-password"
    name="confirm_password"
  />
</div>
