<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script>
      function preback(){window.history.forward();}
      setTimeout("preback()",0);
      window.onunload=function(){null};
    </script>
    <title>SignUp</title>
  </head>
  <body>
    <%- include('./layouts/_collegeHeader') %>
    <div class="w-50 border border-dark mx-auto mt-5">
      <div class="mx-auto mt-3 mb-4" style="width: 200px">
        <h1>ADD USER</h1>
      </div>

      <form class="w-50 mx-auto" action="/create" method="POST">
        <!-- PARTIAL FOR EMPLOYEES -->
        <%- include('_create_employee') %>

        <%
        if(typeof message !=='undefined'){
            %>
            <p style="color: black;"><%= message %></p>
            <%
        }
        %>

        <div class="mb-4 mt-3" style="display: flex; justify-content: center">
          <button type="submit" class="btn btn-primary">Add User</button>
        </div>

        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
