@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.carousel-item img {
    height: 78vh;
}

.card {
    height: 600px;
    width: 300px;
    outline: none;
}

.card img {
    height: 370px;
}

.navbar {
    background-color: #e5b642;
}

.f {
    display: flex;
    margin: 45px 30px 45px 30px;
}

.i {
    margin-left: 45px;
}

.bg-dark {
    height: 40vh;
}

.pad {
    margin: 25px;
}

.btn:hover {
    background-color: gray;
    text-decoration: underline;
}

.btn {
    width: 25%;
    margin: auto;
}

.container {
    border-radius: 8px;
}

.card {
    animation-name: mov;
    animation-fill-mode: forwards;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background-color: gray;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 80px;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
    background-color: grey;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

h1 {
    text-align: center;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#contact-box button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0d6efd;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#contact-box button:hover,
.form button:active,
.form button:focus {
    background: #6610f2;
}

.section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.section-small {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
   
}